<!DOCTYPE html>
<html lang="zh-CN" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>红云朵</title>
    <style>
        body, html {
            margin: 0;
            padding: 0;
            width: 100vw;
            height: 100vh;
            overflow: hidden; /* 防止出现滚动条 */
        }
        body {
            background-image: url('/images/end-1.jpg');
            background-size: cover; /* 背景图像将被缩放到完全覆盖元素背景区域 */

        }
    </style>
</head>
<body>

</body>
</html>