<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>您的问卷调查报告</title>
</head>
<body>

    尊敬的<span th:text="${name}"></span><br>
    感谢您选择红云朵精准营养健康管理服务！
    每个人都有独特的生活习惯和健康情况，而红云朵精准营养健康管理服务正是以营养医学为核心，从饮食、运动、睡眠、心理、营养素五个维度，为您提供科学化、个性化的健康管理方案，陪伴您更好地享受生活，提高生命质量。通过对您测评结果的综合专业分析，以下是为您定制的健康管理方案：
    饮食方案：控制总能量摄入，减少或者减断晚餐主食；清淡饮食，减少食盐、高脂肪、油腻食物的摄入，增加新鲜蔬菜水果和优质蛋白的摄入量，适当补充营养素修复身体机能。
    运动方案：保持健康的体重及腰围，每天中等强度运动30-40分钟。
    睡眠方案：固定作息时间，坚持每天同一时间内就寝和起床，有助于养成良好的睡眠习惯，而充足的睡眠及良好的睡眠质量可以使血压保持平稳。如果入睡有些困难，可以尝试聆听轻音乐或者冥想。最重要的是在睡前避免使用手机、平板电脑等电子设备，创造一个安静的睡眠环境。
    心理方案：精神紧张会激活交感神经从而使血压升高，所以勿久坐，每天进行户外活动，如散步，亲近大自然，保持心情愉悦。每周至少安排一次放松活动，如与老朋友聚会（不要过度饮酒哦！）、阅读、听音乐、绘画等。
    营养素方案：
    营养素套餐	用量	用法
    1	复合营养双蛋白固体饮料（麦香味）	每天1次，每次1勺	每日晚餐前
    2	复合营养双蛋白固体饮料（榛巧味）
    3	复合多种营养素片	每天2次，每次1片	早餐/晚餐后温水吞服
    4	高纤果蔬精华	每天1次，每次1袋	每日午餐前
    5	葛根山楂丹参胶囊	每天2次，每次3粒	早餐/晚餐后温水吞服

    我们承诺：将为您提供专业、贴心的健康营养定制服务。如果您在实施方案过程中遇到任何问题或需要进一步的帮助，请随时联系我们的营养顾问。我们将竭诚为您解答疑惑，确保您能够顺利实现健康目标。
    健康调理方案
    先生/女士：<span th:text="${name}"></span><br>
    目前通过您的健康问卷了解到，您的血压状态是：
    收缩压/mmHg：
    正常血压：≤120
    正常高值血压：120-139
    1级高值血压：140-159
    2级高值血压：160-179
    3级高值血压：≥180
    舒张压/mmHg：
    正常血压：≤80
    正常高值血压：80-89
    1级高值血压：90-99
    2级高值血压：100-109
    3级高值血压：≥110
    高血压这是一种需要长期注意和调理的慢性疾病。高血压在医院治疗中大多依靠西药进行控制，往往会产生药物依赖，而且随着时间的推移治疗效果会打折扣，且产生耐药性。
    那什么是高血压？高血压，也称为动脉高血压，是动脉血压持续升高的慢性疾病。高血压分为两类，即原发性高血压与继发性高血压。90％-95％的病例为原发性高血压，定义为无明显病因的高血压。剩余5％-10％为继发性高血压，定义为有可识别病因的高血压，如慢性肾病、主动脉或肾动脉狭窄、内分泌功能紊乱等。高血压最初通常无症状，而持续性高血压则为高血压心脏疾病、冠状动脉疾病、脑卒中、主动脉瘤、外周动脉疾病以及慢性肾脏疾病的主要危险因素。
    高血压又是如何产生的呢？高血压与生活方式密切相关，例如不健康的饮食习惯、酗酒、吸烟、缺乏体力活动、超重和肥胖，以及持续的压力。不过，掌握了高血压发病原因，在日常中加以注意，预防和调理高血压也不是难事。
    接下来我们来看看怎么调理高血压？我们会从五个维度一起了解健康调理方案，即饮食、运动、睡眠、心理和营养素。睡眠和心理方案按照第一页的内容就可以，这里就不赘述了。而健康的饮食对您来说非常重要，具体的饮食定制方案将由专业的营养师为您服务。饮食和生活方式的改变可改善血压状况及减少并发症的风险，生活方式中膳食营养对血压的影响至关重要，而肥胖和饮酒是影响血压水平最主要的因素，合理的食疗和营养素补充可有效地降低血压。
    一、饮食建议方案
    1、控制总能量摄入，保证优质蛋白和优质脂肪酸的摄入量。
    2、清淡饮食，烹调方式以清炒、清蒸、炖、煮、汆、拌等少油制法为主，少吃辛辣刺激性食物。
    3、少食多餐，不暴饮暴食；控制晚餐摄入比例，减少夜宵。
    4、每天吃谷类150-400克，其中1/3—1/2为粗杂粮。
    5、每天摄入鱼虾类25-50克，禽类25-50克，蛋类25-50克，少吃或不吃肥肉和动物内脏。
    6、每天摄入奶或奶制品200-300克。尽量选择低脂或脱脂奶。
    7、适当摄入大豆或豆制品，不宜食用腐乳、豆豉、臭豆腐等含钠比较高的发酵食物。
    8、减少食盐摄入，每天不超过5克。减少高盐调味品，如酱油、蚝油、豆酱、味精、沙拉酱等。
    9、少吃腌制食品和加工食品，如咸菜、腌肉、咸鸭蛋、咸鱼等。
    10、限制油脂摄入量。首选植物油，每天控制在25克以下。少吃动物油及氢化油烘焙的食品。少吃或不吃油炸、煎烤等食物，如炸薯条、烧烤等。
    11、增加蔬菜和水果的摄入量，保证充足矿物质、维生素和膳食纤维的食用量。每天摄入蔬菜500克，至少3种，最好5种以上，首选深色、叶类蔬菜;水果每天至少200克，最好2种以上。
    12、增加钙、镁、钾等微量元素的摄入，对抗钠对人体的不利作用。
    13、保证饮水量，每天不少于1500毫升，不建议饮用浓茶和浓咖啡。最好不喝酒、碳酸类、含糖饮料。
    二、运动建议方案
    高血压运动推荐的强度为中、低强度，快走是最好的锻炼方法。中等运动强度是指运动时心跳加快，但呼吸不急促；运动30 分钟左右微微出汗；虽累但能坚持；第二天无疲劳感。老年人运动中不能正常说话，则说明运动强度大了。如果运动中还能唱歌，说明运动强度小了。
    运动项目建议
    八段锦或者太极拳     30分钟    3-4次/周
    慢跑或者快走         30分钟    4-5次/周
    瑜伽                 40分钟    1-2次/周
    游泳                 30分钟    2-3次/周
    1、可以单独持续一项运动，可以交叉运动项目，频率保证5~7次/周。
    2、适当增加生活中的体力活动有助于血压控制。高血压患者可以适当做些家务、步行购物等活动，使每天的步行总数达到或接近1万步。
    运动注意事项
    1、确保运动环境安全。
    2、饮用充足水分，以防脱水。
    3、进行活动前要做热身，活动后要做整理、恢复运动。
    4、运动的适宜时间：高血压患者清晨6-10点的血压常处于比较高的水平，是心血管事件的高发时段，最好选择下午或傍晚进行锻炼。
    5、高血压患者应避免的活动，如短跑、举重等短时间剧烈使用肌肉和需要屏气一蹴而就的无氧运动，这些运动会使血压瞬间剧烈上升，引发危险，应尽量避免。
    6、安静时血压未能很好控制或超过180/110mmHg的患者暂时禁止中等及以上强度的运动。
    三、生活方式建议方案
    1、保持健康体重及腰围：肥胖是造成高血压的重要危险因素之一，通过减少热量摄入以及适量增加体育锻炼，把体重控制在健康状态。体重正常的BMI值是18.5-23.9kg/m²，控制在这个范围有助于血压的控制，建议您的腰围控制在80厘米内。
    2、保证充足睡眠：充足的睡眠及良好的睡眠质量可使血压保持平稳，避免血压波动而导致高血压，根据您的情况，建议适当增加睡眠时间或质量。
    3、不要久坐，每天适当的运动或做做家务，保持轻松愉悦的心情。
    4、减少吸烟或戒烟：吸烟会增加叶酸缺乏风险，且大量的医学考证表明，烟草是心脑血管疾病、癌症、慢性阻塞性肺病等多种疾患的重要致病因素，而吸烟者与不吸烟者相比，平均寿命约减少10年。
    5、减少饮酒或戒酒：过量饮酒是高血压发病的危险因素，限制饮酒与血压下降相关，研究表明，即使对少量饮酒的人而言，减少酒精摄入量也能够改善心血管健康，减少心血管疾病的发病风险。
    4、避免便秘情况，改善肠道菌群。多吃膳食纤维食物，养成规律的排便习惯，肠道有益细菌可阻止高盐饮食诱导的高血压。另外，健康肠道不会出现便秘，便秘对高血压患者不利，因为便秘排便时腹部需要用力，腹压增高、血压升高、心肌耗氧量增加，易诱发脑出血、心绞痛、心肌梗死的问题。因此，保持良好的排便习惯是健康肠道的基础。

    从这份健康调理方案，您可以看出，养生、保健、调理是综合性的，慢性病的特点就是来的慢，走得也慢，但好在您已经找到解决它的正确道路，所以不要急，坚持走下去，坚定地走下去，营养调理会越来越顺畅，自己就越受益。

    祝您生活幸福，健康长寿！




    营养专家签名
    方案制定日期
</body>
</html>